asgiref==3.8.1
autopep8==2.3.1
Django==4.2
django-extensions==3.2.3
django-silk==5.2.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
gprof2dot==2024.6.6
inflection==0.5.1
packaging==24.1
psycopg2-binary==2.9.9
pycodestyle==2.12.1
PyJWT==2.9.0
python-decouple==3.8
pytz==2024.1
PyYAML==6.0.2
sqlparse==0.5.1
tomli==2.0.1
typing_extensions==4.12.2
uritemplate==4.1.1
